@font-face {
    font-family: "Barlow Condensed Light";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: "Barlow Condensed Bold";
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Bungee Outline";
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

body {
    margin: 0;
    background-image: url(images/Jimi\ hendrix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}


#cover {
    margin: 5vh 10vw;
    background-color: rgba(45, 42, 42, 0.5);
    border-radius: 20px;
}



header h1 {
    font-family: Bungee Shade;
    color: rgba(255, 255, 255, 0.7);
    font-size: 10vh;
    margin: 2vh;
}



nav {
    display: flex;
    gap: 0.5vh;
    margin: 6vh 2vh;
}

nav a {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: Barlow Condensed Light;
    text-decoration: none;
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
    border-radius: 10px;
    flex-basis: 0;
    flex-grow: 1;
}

nav a:hover {
    background-color: rgba(31, 29, 29, 0.6);
    color: white;
}

nav a:nth-child(2) {
    border: 1px solid white;
    box-shadow: 0 0 5px #fff;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: Barlow Condensed Bold;
    cursor: auto;
}

main section {
    margin: 1vh 2vh;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(31, 29, 29, 0.6);
}



#first-box {
    display: flex;
    gap: 1vh;
    padding: 2vh 2vh 0.5vh 2vh;
}


.info-box {
    width: 60%;
    color: white;
}

.info-box h2 {
    font-family: Bungee Outline;
    font-size: 4vh;
    margin: 0;
}

.info-box h3 {
    font-family: Barlow Semi Condensed;
    font-size: 3vh;
    margin-top: 0;
    margin-bottom: 6vh;
}

.info-box p:first-of-type {
    margin-bottom: 0;
}

.info-box ul {
    margin-top: 0;
    margin-bottom: 6vh;
    list-style-type: none;
}

.info-box ul,
.info-box p {
    font-family: Barlow Condensed Light;
    font-size: 2vh;
}


#gallery {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.img-container img:first-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s;
}

.img-container img:first-child:hover {
    opacity: 0;
}


.list-box {
    display: flex;
    gap: 1vh;
}

.list-box ol {
    background-color: #eecb00;
    color: #b1117c;
    font-family: Barlow Condensed Light;
    padding: 1vw;
    margin: 0;
    flex-basis: 0;
    flex-grow: 1;
}

main>:nth-child(2) .list-box ol {
    background-color: #0080b3;
    color: #f4e4be;
}

.list-box li {
    font-size: 1vw;
    margin-left: 1vw;
}

.list-box h4 {
    margin: 0;
    font-size: 1.5vw;
}

.list-box ol:first-child {
    border-radius: 0 0 0 10px;
}

.list-box ol:last-child {
    border-radius: 0 0 10px 0;
}


.last-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 1vh;
    padding: 0.5vh 2vh 2vh 2vh;
}

.last-box p {
    font-family: Barlow Condensed Light;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
    padding: 1vw 2vw;
    display: flex;
    align-items: center;
}


.last-box p:first-child {
    background-color: rgb(202, 97, 163);
    color: #eecb00;
    grid-column: 1;
    grid-row: 1;
    border-radius: 10px 0 10px 10px;
}

.last-box p:nth-child(2) {
    background-color: rgb(202, 97, 163);
    color: #ffd900;
    grid-column: 3 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}

.last-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 5;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}

.last-box p:nth-child(4) {
    grid-column: 5;
    grid-row: 1;
    color: white;
    align-self: end;
}

.last-box p:nth-child(5) {
    background-color: rgb(202, 97, 163);
    color: #ffd900;
    grid-column: 6;
    grid-row: 1;
    border-radius: 10px 10px 0 10px;
}


main>:last-child .last-box p:first-child {
    background-color: #ffeec7;
    color: #00b7ff;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 10px 10px 10px 0;
}

main>:last-child .last-box p:nth-child(2) {
    background-color: #ffeec7;
    color: #00b7ff;
    grid-column: 3;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}

main>:last-child .last-box img {
    grid-column: 4 / span 2;
    grid-row: 1;
    border-radius: 0 10px 10px 10px;
}

main>:last-child .last-box p:nth-child(4) {
    grid-column: 4 / span 2;
    grid-row: 1;
}

main>:last-child .last-box p:last-child {
    background-color: #ffeec7;
    color: #00b7ff;
    grid-column: 6;
    grid-row: 1;
    border-radius: 10px 10px 0 10px;
}


footer {
    padding: 2vh;
}

footer p {
    color: white;
    font-family: Barlow Condensed Light;
    font-size: 2vh;
    margin: 5vh 0 0 0;
}


/* ----------------- MOBILVERSION <500PX -------------------- */

@media (max-width: 500px) {
    body {
        background-image: url(Images/Are\ you\ experienced\ 2.jpg);
    }

    #cover {
        margin: 0;
    }

    header h1 {
        text-align: center;
        font-size: 15vw;
    }

    nav a {
        font-size: 3vw;
    }

    #first-box {
        flex-direction: column-reverse;
    }

    .info-box,
    #gallery {
        width: 100%;
    }

    .info-box h2 {
        font-size: 7vw;
    }

    .info-box h3 {
        font-size: 5vw;
    }

    .info-box ul,
    .info-box p {
        font-size: 4vw;
    }

    .img-container img {
        border-radius: 10px 0 0 10px;
    }

    .list-box ol {
        padding: 3vw;
    }

    .list-box h4 {
        font-size: 4vw;
    }

    .list-box li {
        margin-left: 2.5vw;
        font-size: 3vw;
    }

    .last-box {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .last-box p {
        font-size: 3vw;
        padding: 2vw;
    }

    .last-box p:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .last-box p:nth-child(2) {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .last-box img {
        grid-column: 2;
        grid-row: 2;
    }

    .last-box p:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    .last-box p:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
    }

    main>:last-child .last-box p:first-child {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    main>:last-child .last-box p:nth-child(2) {
        grid-column: 3;
        grid-row: 1;
    }

    main>:last-child .last-box img {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    main>:last-child .last-box p:nth-child(4) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    main>:last-child .last-box p:last-child {
        grid-column: 3;
        grid-row: 2;
    }

    footer p {
        font-size: 4vw;
    }
}

/* ----------- DESKTOP 800px-900px  ---------- */

@media (min-width: 800px) and (max-width: 900px) {
    header h1 {
        font-size: 63px;
    }

    nav a {
        font-size: 18px;
    }

    .info-box h2 {
        font-size: 22px;
    }

    .info-box h3 {
        font-size: 16px;
    }

    .info-box ul,
    .info-box p,
    .last-box p footer p {
        font-size: 12px;
    }
}

/* ------------ DESKTOP 900px-1200px -------------- */

@media (min-width:900px) and (max-width:1200px) {
    header h1 {
        font-size: 7vw;
    }

    nav a {
        font-size: 2vw;
    }

    .info-box h2 {
        font-size: 2.4vw;
    }

    .info-box h3 {
        font-size: 1.7vw;
    }

    .info-box ul,
    .info-box p,
    .last-box p,
    footer p {
        font-size: 1.3vw;
    }
}

/* ---------- DESKTOP >1200px ----------------- */

@media (min-width: 1200px) {
    #cover {
        width: 960px;
    }

    header h1 {
        font-size: 84px;
    }

    nav a {
        font-size: 24px;
    }

    .info-box h2 {
        font-size: 29px;
    }

    .info-box h3 {
        font-size: 20px;
    }

    .info-box ul,
    .info-box p,
    .last-box p,
    footer p {
        font-size: 15.5px;
    }

    .list-box h4 {
        font-size: 18px;
    }

    .list-box li {
        font-size: 12px;
    }
}